.navigation 
    .navigation__container
        .navigation__logo 
            include ../../shared\UnFazed-logo.svg
        ul.navigation__list
            li.navigation__list__item
                a.navigation__list__link(href='/') home
            li.navigation__list__item
                a.navigation__list__link(href='/about') about
            li.navigation__list__item
                a.navigation__list__link works
            li.navigation__list__item
                a.navigation__list__link contact