%description-14-400 {
    font-family: $font-clash-display;
    font-weight: 400;
    font-size: 1.4rem;
}

%description-64-400 {
    font-family: $font-clash-display;
    font-weight: 400;
    font-size: 6.4rem;
}