$color-black: #000;
$color-white: #fff;
$color-red: #FF0000;

$font-clash-display: ClashDisplay;
$font-panchang: Panchang;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'noscript',
  'preloader',
  'navigation',
  'content',
  'canvas',
);